SECRET_KEY='4=+mo(9z4dw1mg2y+#!7n$()hdbrk+jp^03n#g7s87abp5zcuy'
DEBUG=True
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres
CELERY_BROKER_URL=redis://redis:6379